<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Any Azure Artifacts feeds within your organization will automatically be authenticated. Both dev.azure.com and visualstudio.com domains are supported. -->
    <add key="TestFeed2" value="https://pkgs.dev.azure.com/teroneko/Teronis.NetStandard/_packaging/TestFeed2/nuget/v3/index.json" />
  </packageSources>
</configuration>