<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.local" value="https://pkgs.dev.azure.com/teroneko/Teronis.DotNet/_packaging/nuget.local/nuget/v3/index.json" />
  </packageSources>
  
  <activePackageSources>
    <add key="nuget.org" value="True" protocolVersion="3" />
  </activePackageSources>
</configuration>