@page "/get-tony-hawk"
@inject IJSFacadePropertiesInitializer jsPropertiesInitializer
@implements IAsyncDisposable

<h1 id="tony-hawk">Hello @tonyHawk</h1>

@code {
    [JSModuleFacade] GetTonyHawkModule GetTonyHawkModule { get; set; } = null!;

    JSFacadePropertiesInitialization jsPropertiesInitialization;
    string tonyHawk;

    protected override async Task OnParametersSetAsync()
    {
        jsPropertiesInitialization = await jsPropertiesInitializer.InitializeFacadePropertiesAsync(this);
        tonyHawk = await GetTonyHawkModule.GetTonyHawkAsync();
        await base.OnParametersSetAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await jsPropertiesInitialization.DisposeAsync();
    }
}
