@page "/MomentTests"
@implements IAsyncDisposable
@inject IJSFacadesActivator jsFacadesActivator
@inject IJSDynamicLocalObjectActivator jsDynamicLocalObjectActivator
@inject IJSDynamicModuleActivator jsDynamicModuleActivator
<h3>@formattedDate</h3>

@code {
    private IJSFacades<JSDynamicFacadeActivators> jsFacades = null!;
    private string? formattedDate;

    protected override async Task OnParametersSetAsync()
    {
        jsFacades = jsFacadesActivator.CreateInstance<JSDynamicFacadeActivators>();
        var module = await jsFacades.Activators.JsDynamicModuleActivator.CreateInstanceAsync<IMomentDynamicObject>("./js/esm-bundle.js");
        var jsDateObjectReference = await module.moment("2013-02-08 09");
        formattedDate = await jsDateObjectReference.InvokeAsync<string>("format");
        await base.OnParametersSetAsync();
    }

    public async ValueTask DisposeAsync() {
        await jsFacades.DisposeAsync();
    }
}
