@page "/MomentTests"
@inject IJSFacadesActivator jsFacadesActivator
@inject IJSDynamicLocalObjectActivator jsDynamicLocalObjectActivator
@inject IJSDynamicModuleActivator jsDynamicModuleActivator
<h3>@formattedDate</h3>

@code {
    //private IJSFacades jsFacades;
    private string? formattedDate;

    protected override async Task OnParametersSetAsync()
    {
        //jsFacades = jsFacadesActivator.CreateInstance();
        //var module = await jsFacades.CreateModuleAsync("./js/esm-bundle.js");
        var module = await jsDynamicModuleActivator.CreateDynamicInstanceAsync<IMomentDynamicObject>("./js/esm-bundle.js");
        //var jsMomentDynamicObject = jsDynamicLocalObjectActivator.CreateInstance<IMomentDynamicObject>(module.JSObjectReference);
        var jsDateObjectReference = await module.moment("2013-02-08 09");
        formattedDate = await jsDateObjectReference.InvokeAsync<string>("format");
        await base.OnParametersSetAsync();
    }
}
