@page "/should_resolve_service_provider_created_module" 
@inject IJSFacadesActivator jsFacadesActivator
@implements IAsyncDisposable

<h1 id="@ShoudlyPagesDefaults.TonyHawkId">Hello @tonyHawk</h1>

@code {
    [JSModuleProperty] ServiceProviderCreatedModule Module { get; set; } = null!;

    IJSFacades<JSFacadeActivators> jsFacades = null!;
    string? tonyHawk;

    protected override async Task OnParametersSetAsync()
    {
        jsFacades = await jsFacadesActivator.CreateInstanceAsync<JSFacadeActivators>(this);
        tonyHawk = await Module.GetTonyHawkAsync();
        await base.OnParametersSetAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await jsFacades.DisposeAsync();
    }
}
